<!DOCTYPE HTML>
<html>
  <head>
    <title>
      reelyActive: Angular Test 
    </title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js">
    </script>
    <script type="text/javascript" src="watch1.js">
    </script>
	  <link rel="stylesheet" href="style1.css" />
  </head>
  
  <body ng-app="watch">
   <ul>
<li><a href="test1.html">Person</a></li>
<li><a href="product1.html">Product</a></li>
</ul> <br/><br/>

<div ng-controller="reely">
        <form>
            Name:
            <input type="text" ng-model="place.name" ng-change='change()'/>
            <br/>
            StreetAddress:
            <input type="text" ng-model="place.streetaddress" ng-change='change()'/>
            <br/>
            AddressLocality :
            <input type="text" ng-model="place.addresslocality" ng-change='change()'/>
            <br/>
            AddressRegion:
            <input type="text" ng-model="place.addressRegion" ng-change='change()'/>
            <br/>
            postalCode :
            <input type="text" ng-model="place.postalCode" ng-change='change()'/>
            <br/>
            AddressCountry:
            <input type="text" ng-model="place.addressCountry" ng-change='change()'/>
            <br/>
             Logo:  <input type="text" ng-model="place.logo" ng-change='change()'/>
			 <br/>
             Url: <input type="text" ng-model="place.url" ng-change='change()'/> 
			 <br/>
             Image:<input type="text" ng-model="place.image" ng-change='change()'/> <br/>
          </form>
          <h1>
            Your JSON
          </h1>
          <pre>
            {{place_ld | json}}
          </pre>
    </div>
		
  </body>
</html>

  
