<!DOCTYPE HTML>
<html>
  <head>
    <title>
      reelyActive: Angular Test 
    </title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js">
    </script>
    <script type="text/javascript" src="watch1.js">
    </script>
	  <link rel="stylesheet" href="style1.css" />
  </head>
  
  <body ng-app="watch">
   <ul>
<li><a href="test1.html">Person</a></li>
<li><a href="place1.html">Place</a></li>

</ul><br/><br/>
  
  <div ng-controller="marc">
      <form>
	    Name:
        <input type="text" ng-model="product.name" ng-change='change()'/>
        <br/>
        Model:  
        <input type="text" ng-model="product.model" ng-change='change()'/>
        <br/>
        Logo:	
        <input type="text" ng-model="product.logo" ng-change='change()'/>
        <br/>
        Url: 
        <input type="text" ng-model="product.url" ng-change='change()'/>
        <br/>
        Image:
        <input type="text" ng-model="product.image" ng-change='change()'/>
        <br/>
        
      </form>
	  <h1>
        Your JSON
      </h1>
      <pre>
        {{product_ld | json}} 
      </pre>
    </div>
	 </body>
</html>