body {
font-family: Source Sans Pro;
}

ul {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
}


a{
    float: left;
    width: 6em;
    text-decoration: none;
    padding: 0.2em 0.6em;
    border-right: 1px solid white;
	
}


li {
    display: inline;
}

#bl {
background-color:#5a5a5a;
color: yellow;
}

#or {
background-color:#5a5a5a;
color: yellow;
}

#gr {
background-color : #5a5a5a;
color: yellow;
}

#bl:hover ,#or:hover , #gr:hover   {
 background-color:#ff6900;
 }
