body{
font-family: 'Open Sans', sans-serif;
}

header {
text-align: center;
font-size: 33px;
background-color: none;
height: 50px;
}
.form1{
	float: left;
	margin:0px 6% 56px;
}
.form2{
	float: left;
	margin:0px 7% 113px;
}
.form3{
	float: left;
	margin:0px 6% 56px;
}
.json1{
  float:right;
  width:50%;
  min-width:480px;
  margin:-520px 1% ;
}
.json2{
  float:right;
  width:50%;
  min-width:480px;
  margin:-384px 5% ;
}.json3{
  float:left;
  width:50%;
  min-width:480px;
  margin:-451px 48% ;
}
#footer {
  clear:both;
  position:relative;
  height:5em;
  line-height:5em;
  bottom:0;
   width:100%;
  margin:0;
  margin-top: 50%;
  background:#4997bd;
  color:#999;
  color:rgba(255,255,255,0.5);
  font-size:1.2em;
  overflow:hidden;
  text-align:center
}

#footer a {
  color:#999;
  color:rgba(255,255,255,0.5)
}

